body {
    max-width: 900px;
    margin: 20px auto;
}

h1, h3 {
    text-align: center;
}

h1 {
    padding-top: 100px;
    color: red;
    font-size: 70px;
}

h3 {
    color: blue;
}

h3:last-of-type {
    padding-bottom: 100px;
}

p {
    line-height: 2.3;
    letter-spacing: 1px;
    padding: 20px 0;
    position: relative;
}

p:after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 900px;
    height: 3px;
    transform: translatex(-50%);
    background-color: red;
    border-radius: 20px;
}
