body {
    max-width: 900px;
    margin: 20px auto;
}

h1, h3 {
    text-align: center;
}

h1 {
    padding-top: 100px;
    color: red;
    font-size: 70px;
}

h3 {
    padding-bottom: 100px;
    color: blue;
}